h1{
	border:solid3.5px;
	border-color:purple
	background-color:grey;
color:black;}
body {
	font-family:arial;
    background-color:#A288F4;

    color:purple;
	background-color:pink;



 ul  {background-color:coral;
	border;solid 2px;
	border-color:blue;
	border-top-style;dotted;
	border-top-style:dashed;
 padding-top:5px}
